@import "tailwindcss";

/* Behavioral Logic */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

/* Custom Cursor Logic for Dragging */
.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing !important;
}

/* Logic to prevent cards from shrinking in the flex row */
.project-card-slot {
  flex: 0 0 auto;
  width: 380px;
}

/* Prevent images/content from being "highlighted" or "dragged" like a file */
.no-interaction {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}